<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add 
      name="RedisCache"
      connectionString="tokenservicedevwest.redis.cache.windows.net,ssl=true,password=QS0auVaysCYmD81Qb+tN3SARmaGb6ds4Q8FW7MUHBW8="
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)" />
    <add
      name="logs"
      connectionString="DefaultEndpointsProtocol=https;AccountName=maestrologsdev;AccountKey=60k3HwvqZKnf/+RIIN3YjasGVaZPp0IW2pjruivdC6l1hTbj0dtxfrrD8knYwy1QDkhII2tcNi/OhKHBmhhJHA=="
      xdt:Transform="Insert" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>