<script id="programDayTemplate" type="text/template">
    <label>
        @GlobalStrings.ProgramDetails_DayTitle <%= number %>
        <span class="glyphicon glyphicon-sort hidden js-custom-order"></span>
    </label>
    <div class="program-day-protocols-ci js-protocols">

    </div>
</script>