<script id="protocolMeasurementListItemTemplate" type="text/template">
    <div class="protocol-search-element-title protocol-handle clearfix">
        <div class="pull-left italic">Measurement</div>
        <span class="glyphicon glyphicon-move pull-right handle-icon"></span>
    </div>
    <div class="protocol-search-element-body">
    	<p class="search-result-text" title="<%=name%>"><%=name%></p>
    </div>
</script>