<script id="protocolSimulatorTemplate" type="text/template">
    <header class="header-simulator clearfix">
        <div class="header-home pull-left">
            <a>
                <i class="fa fa-home"></i><br>
                Home
            </a>
        </div>
        <div class="hh-logo pull-right">
            <a href="#">
                <img src="/Content/img/logo-hh-simulator.png" width="184" height="40" alt="" >  
            </a>
            <i class="fa fa-wifi"></i>
        </div>
    </header>
    <section class="simulator-content clearfix">
        <div class="simulator-content-question pull-left">
            <div class="question-text"></div>
            <div class="question-nav"></div>
        </div>
        <div class="simulator-content-answer pull-right"></div>
    </section>
</script>