<script id="protocolTreeAnswerOpenEndedTemplate" type="text/template">
    <div class="protocol-item-element protocol-item-element-answer protocol-item-disabled">
        <p>Open Ended Answer</p>
    </div>
</script>