<script id="conditionEditLayoutView" type="text/template">
    
    <ul class="nav nav-tabs condition-details-tabs">
        <li>
            <a href="#" id="tab-details" class="js-tab-link" data-href="Details">Details</a>
        </li>

        <li>
            <a href="#" id="tab-thresholds" class="js-tab-link" data-href="Thresholds">Thresholds</a>
        </li>

        <li>
            <a href="#" id="tab-content" class="js-tab-link" data-href="Content">Content</a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div id="details-container"></div>
        <div id="thresholds-container" ></div>
        <div id="content-container"></div>
    </div>
    
</script>