<script id="conditionItemView" type="text/template">

    <td class="col-xs-4 ci-condition-name highlightable">
        <%=name%>
    </td>

    <td class="col-xs-5 highlightable">
        <%=description%>
    </td>
   
    <td class="col-xs-4 highlightable">
        <%=tags%>
    </td>
   
    <td class="col-xs-1">
        <a href="/Settings/Conditions/<%=id%>/Details" class="js-link">Edit</a>
    </td>

</script>