<script id="conditionsView" type="text/template">

    <h2 class="page-header_ci js-conditions-header">Conditions</h2>
    
    <h2 class="page-header_ci js-create-condition-header" style="display: none;">Create Condition</h2>
    
    <h2 class="page-header_ci js-edit-condition-header" style="display: none;">Edit Condition</h2>

    <a href="/Settings/Conditions/Create" class="js-link js-create-condition pull-right">+ Create New Condition</a>

    <div class="conditions-list"></div>

    <div class="condition-edit"></div>

</script>