<script id="orgItemTreeView" type="text/template">

    <div class="orgs-tree">
        <div class="org-head-overlay-container">
            <div class="org-head-container"></div>
            <div class="node-overlay" style="display: none;"></div>
        </div>
        <div class="org-children"></div>
    </div>

</script>