<script id="orgsView" type="text/template">

    <h2 class="page-header_ci">Site Set-Up & Organization</h2>
    <p>Use this feature to add sites and/or organize them into groups. For example,
        sites could be organized into countries, regions or divisions.</p>

    <div class='orgs-list'></div>

</script>