<script id="orgSelectItemTreeView" type="text/template">

    <div class="orgs-tree">
        <div class="org-head-overlay-container">
            <div class="org-head-container">
                <div class="org-head js-org-head-details">
                    <span class="tree-icon fa fa-caret-down js-toggle-branch"></span>
                    <span class="folder-icon fa fa-folder-o"></span>
                    <span class="name"><%= name %></span>
                    <span class="actions">
                        <span class="actions-item">
                            <a href="" class="js-select-all">select all</a>
                        </span>
                        <span class="actions-item">
                            <a href="" class="js-clear-all">clear</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="org-children"></div>
    <div class="orgs-tree">


</script>