<script id="siteItemEditView" type="text/template">

    <div class="org-head-overlay-container site-item">
        <div class="org-head site-head">
            <span class="site-icon fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <span class="name">
                <input type="text" class="form-control js-site-name input-sm" data-name="name">
                <span class="help-block hidden"></span>
            </span>
            <span class="org-menu">
                <span class="org-menu-item">
                    <a href="" class="btn btn-sm btn-default js-site-edit-save">Save</a>
                </span>
                <span class="org-menu-item">
                    <a href="" class="btn btn-sm btn-default js-site-edit-cancel">Cancel</a>
                </span>
            </span>
        </div>
    </div>

</script>