<script id="siteSelectItemView" type="text/template">

    <div class="org-head-overlay-container site-item">
        <div class="org-head">
            <label>
                <input type="checkbox" class="js-site-toggle" <%= isSelected ? 'checked' : '' %>>
                <span class="name"><%= name %></span>
            </label>
        </div>
    </div>

</script>