<script id="usersCollectionView" type="text/template">

    <table class="table">
        <thead>
        <tr>
            <th>Full name</th>
            <th>Sites</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

</script>