@model TimeSpan

<div class="modal fade" id="password-expiration-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @if (Model.TotalDays > 1 && Model.TotalDays < 7)
                {
                    <p>
                        Your password will be expired in @Math.Ceiling(Model.TotalDays) days. Do you want to change it now?
                    </p>
                }
                else if (Model.TotalHours > 1 && Model.TotalHours < 24)
                {
                    <p>
                        Your password will be expired in @Math.Ceiling(Model.TotalHours) hours. Do you want to change it now?
                    </p>
                }
                else if (Model.TotalMinutes < 60)
                {
                    <p>
                        Your password will be expired in @Math.Ceiling(Model.TotalMinutes) minutes. Do you want to change it now?
                    </p>
                }
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("ChangePassword", "Account", new { area = string.Empty })" class="btn btn-primary" id="submit-customer">
                    Change
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-button">
                    Not now
                </button>
            </div>
        </div>
    </div>
</div>