<script id="careManagersListItemTemplate" type="text/template">
	<%=firstName%>
	<%=lastName%>
	<span class="pull-right">
		<a class="btn btn-xs btn-primary js-assign-care-manager">Assign</a>
	</span>
</script>