<script id="careManagersAssignedListItemTemplate" type="text/template">
	<%=firstName%>
	<%=lastName%>
	<span class="pull-right">
		<a class="btn btn-xs btn-danger js-remove-care-manager">Remove</a>
	</span>
</script>