<script id="conditionDetailsContentTemplate" type="text/template">

    <div class="row programs-row">
        <div class="col-sm-12">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
            <span class="programs-text">Programs</span>
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="programs-list-container">
            </div>
        </div>
    </div>


    <div class="row protocols-row">
        <div class="col-sm-12">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
            <span class="protocols-text">Protocols</span>
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="protocols-list-container">
            </div>
        </div>
    </div>

</script>