<script id="conditionsListItemTemplate" type="text/template">
    <span class="pull-right">
		<a class="btn btn-xs btn-primary js-assign-condition">Assign</a>
	</span>
    <h5><%= name %></h5>
    <p class="description"><%= description %></p>
    <a href="" class="condition-more">Details</a>
</script>