@using Maestro.Web.Resources

<script id="devicesManagePinTemplate" type="text/template">
    <div class="form-horizontal" id="manage-pin-form">
        <div class="form-group ">
            <label class="col-sm-3 control-label" for="isPinCodeRequired">@GlobalStrings.Devices_PinProtectionText</label>
            <div class="col-sm-9">
                <input type="checkbox" name="isPinCodeRequired" id="isPinCodeRequired" data-radio-all-off="true" />
            </div>
        </div>

        <div class="form-group">
            <label for="pinCode" class="col-sm-3 control-label">@GlobalStrings.Devices_PinCodeText</label>
            <div class="col-sm-9">
                <% if (settings.isPinCodeRequired) { %>
                <input type="text" class="form-control" id="pinCode" data-name="settings.pinCode" placeholder="Enter new pin" name="pinCode">
                <% } else { %>
                <input type="text" class="form-control" id="pinCode" data-name="settings.pinCode" name="pinCode" disabled>
                <% } %>
                <span class="help-block hidden"></span>
            </div>

        </div>
    </div>
</script>