<script id="devicesListItemTemplate" type="text/template">
    <td><span class="glyphicon glyphicon-phone"></span></td>
    <td><%= deviceType %> Device</td>
    <td><%= deviceStatusesStrings[status]%></td>
    <td>
        <% if (status == deviceStatuses.NOT_ACTIVATED) { %>
            <span>Activation code: <b><%=activationCode%></b></span>
        <% } else if (deviceId) { %>
            <span>Serial number: <%=deviceId%></span>
        <% } %>
    </td>
    <td>
        
        <% if (status == deviceStatuses.NOT_ACTIVATED
               || status == deviceStatuses.DECOMISSION_COMPLETED
               || status == deviceStatuses.ACTIVATED
               || status == deviceStatuses.DECOMISSION_REQUESTED) { %>           
            <div class="btn-group">
                <button type="button" 
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            
         
                <ul class="device-actions dropdown-menu dropdown-menu-right">
                    <% if (status == deviceStatuses.NOT_ACTIVATED || status == deviceStatuses.DECOMISSION_COMPLETED) { %>
                        <li><a href="#" id="remove-device-btn">Remove <span class="glyphicon glyphicon-trash pull-right"></span></a></li>
                    <% } else if (status == deviceStatuses.ACTIVATED) { %>
                        <li><a href="#" id="request-decomission-btn">Decommission<span class="glyphicon glyphicon-ban-circle pull-right"></span></a></li>
                    <% } else if (status == deviceStatuses.DECOMISSION_REQUESTED) { %>
                        <li><a href="#" id="request-decomission-btn">Re-request decommission<span class="glyphicon glyphicon-refresh pull-right"></span></a></li>
                    <% } %>
                    <% if (status == deviceStatuses.NOT_ACTIVATED || status == deviceStatuses.ACTIVATED) { %>
                        <li><a href="#" id="manage-pin-btn">Manage Pin <span class="glyphicon glyphicon-lock pull-right"></span></a></li>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </td>
</script>
