@using Maestro.Web.Resources
<script id="patientCalendarProgramDeleteModalTemplate" type="text/template">
    <div class="alert alert-danger hidden" role="alert">        
    </div>
    <h4>@GlobalStrings.ProgramDelete_ConfirmText</h4>
</script>