<script id="patientCalendarProgramTerminateModalTemplate" type="text/template">
    <div class="alert alert-danger hidden" role="alert"></div>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="termination" class="col-sm-3 control-label">Terminate On</label>
            <div class="col-sm-4">
                <div id="termination-datetimepicker" class="input-group">
                    <input type="text" class="form-control" id="terminationDp" name="terminationDp">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <input type="hidden" id="terminationUtc" name="terminationUtc">
            </div>
        </div>
    </div>
</script>