<script id="patientTrendsBloodPressureChartViewTemplate" type="text/template">
    <li class="chart-container col-sm-6">
        <div class="pull-right">
            <a class="js-reorder">
                <i class="fa fa-bars fa-invert-ci"></i>
                Reorder
            </a>
            &nbsp;
            <a class="js-remove">
                <i class="fa fa-times fa-invert-ci"></i>
                Remove
            </a>
            <!--span><small>Move chart</small></span>
            <button class="js-move-up">&#8593;</button>
            <button class="js-move-down">&#8595;</button-->
        </div>
        <h3><%=chartLabel%></h3>
        <div class="clearfix"></div>
        <div class="chart"></div>
        <span class="chart-settings">
            <label>S Readings:</label>
            <span class="data-series">
                <label>
                    <input type="checkbox" class="js-toggle-max" checked data-level="systolic">
                    Max
                </label>
                <label>
                    <input type="checkbox" class="js-toggle-avg" checked data-level="systolic">
                    Avg
                </label>
                <label>
                    <input type="checkbox" class="js-toggle-min" checked data-level="systolic">
                    Min
                </label>
            </span>
            <span class="thresholds-series">
                <% if (thresholds && thresholds.systolic) { %>
                    <% _.each(thresholds.systolic, function (threshold) { %>
                        <label>
                            <input type="checkbox" class="js-toggle-threshold" data-threshold-id="<%= threshold.id %>" data-level="systolic">
                            <%= threshold.alertSeverity ? threshold.alertSeverity.name : '' %> threshold
                        </label>
                    <% }) %>
                <% } %>
            </span>
        </span>
        <span class="chart-settings">
            <label>D Readings:</label>
            <span class="data-series">
                <label>
                    <input type="checkbox" class="js-toggle-max" checked data-level="diastolic">
                    Max
                </label>
                <label>
                    <input type="checkbox" class="js-toggle-avg" checked data-level="diastolic">
                    Avg
                </label>
                <label>
                    <input type="checkbox" class="js-toggle-min" checked data-level="diastolic">
                    Min
                </label>
            </span>
            <span class="thresholds-series">
                <% if (thresholds && thresholds.diastolic) { %>
                    <% _.each(thresholds.diastolic, function (threshold) { %>
                        <label>
                            <input type="checkbox" class="js-toggle-threshold" data-threshold-id="<%= threshold.id %>" data-level="diastolic">
                            <%= threshold.alertSeverity ? threshold.alertSeverity.name : '' %> threshold
                        </label>
                    <% }) %>
                <% } %>
            </span>
        </span>
        <div class="spinner-container" style="display: none;">
            <img src="/Content/img/spinner.gif" class="spinner" />
        </div>
    </li>
</script>