<script id="patientCardViewTemplateDetailBloodPressure" type="text/template">
    <% if(!obj.noColor) { %>
    <span class="color-line" style="background: transparent"></span>
    <% } else { %>
    <span class="color-line" style="background: <%- obj.color %>"></span>
    <% } %>
    <div class="alert-detailed-body collapse" id="details-<%= (obj.reading.measurement.vitals.systolicBloodPressure.id ? obj.reading.measurement.vitals.systolicBloodPressure.id : obj.reading.measurement.vitals.diastolicBloodPressure.id) %>">
        <div class="row alert-details-container">
            <div class="col-sm-5">
                <div class="block">
                    <h5>Reading:</h5>
                    <hr style="margin-top: 0;margin-bottom: 15px;border-top:1px solid #ddd;"/>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 style="display: inline-block;margin: 0;">
                                <% if(!obj.reading.isAutomated) { %>*<% } %><span style="color: <%- obj.reading.measurement.vitals.systolicBloodPressure.color %>;"><%- obj.reading.measurement.vitals.systolicBloodPressure.value %></span>/<span style="color: <%- obj.reading.measurement.vitals.diastolicBloodPressure.color %>;"><%- obj.reading.measurement.vitals.diastolicBloodPressure.value %></span>
                            </h4> <%- obj.unitLabel %>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a class="ignore-reading" style="margin-top: 10px;" href="#"><i class="fa fa-icon fa-times"></i> Ignore Reading</a>
                        </div>
                    </div>
                </div>
                <div class="block" style="margin: 20px 0;">
                    <h5>Threshold:</h5>
                    <hr style="margin-top: 0;margin-bottom: 15px;border-top:1px solid #ddd;"/>
                    <div class="row">
                        <div class="col-sm-12">
                            <% if(obj.reading.measurement.vitals.systolicBloodPressure.vitalAlert) { %>
                            <div>
                                <strong>Systolic Blood Pressure</strong>&nbsp;
                                <strong style="color: <%- obj.reading.measurement.vitals.systolicBloodPressure.color %>;"><%- obj.reading.measurement.vitals.systolicBloodPressure.isHigher ? 'higher' : 'lower' %></strong> than
                                <h4 style="display: inline-block;margin: 0;"><%- obj.reading.measurement.vitals.systolicBloodPressure.isHigher ? obj.reading.measurement.vitals.systolicBloodPressure.vitalAlert.violatedThreshold.maxValue : obj.reading.measurement.vitals.systolicBloodPressure.vitalAlert.violatedThreshold.minValue  %></h4> <%- obj.unitLabel %>
                            </div>
                            <% } %>
                            <% if(obj.reading.measurement.vitals.diastolicBloodPressure.vitalAlert) { %>
                            <div>
                                <strong>Diastolic Blood Pressure</strong>&nbsp;
                                <strong style="color: <%- obj.reading.measurement.vitals.diastolicBloodPressure.color %>;"><%- obj.reading.measurement.vitals.diastolicBloodPressure.isHigher ? 'higher' : 'lower' %></strong> than
                                <h4 style="display: inline-block;margin: 0;"><%- obj.reading.measurement.vitals.diastolicBloodPressure.isHigher ? obj.reading.measurement.vitals.diastolicBloodPressure.vitalAlert.violatedThreshold.maxValue : obj.reading.measurement.vitals.diastolicBloodPressure.vitalAlert.violatedThreshold.minValue  %></h4> <%- obj.unitLabel %>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <% if(obj.recentReadings) if(obj.recentReadings.length) { %>
                <h5>Recent Readings (last 30 days):</h5>
                <table class="table table-striped">
                    <tbody>
                    <% _.each(obj.recentReadings, function(recentReading) { %>
                    <tr>
                        <td style="white-space: nowrap"><%- recentReading.measurement.vitals.systolicBloodPressure.first %></td>
                        <td style="white-space: nowrap"><%- recentReading.measurement.vitals.systolicBloodPressure.second %></td>
                        <td>
                            <strong>
                                <% if(!recentReading.measurement.isAutomated) { %>*<% } %><span style="color: <%- recentReading.measurement.vitals.systolicBloodPressure.color %>"><%- recentReading.measurement.vitals.systolicBloodPressure.value %></span>/<span style="color: <%- recentReading.measurement.vitals.diastolicBloodPressure.color %>"><%- recentReading.measurement.vitals.diastolicBloodPressure.value %></span>
                            </strong>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                <div class="well text-center">No readings were reported in the last 30 days</div>
                <% } %>
            </div>
            <div class="col-sm-3">
                <h5>Contact patient:</h5>
                <hr style="margin-top: 0;"/>
                <% if(obj.patientInfo.phone) { %>
                <h5 style="margin-bottom: 0;">Phone number:</h5>
                <%- obj.patientInfo.phone %> <br/><br/>
                <% } %>
                <a href="#" class="js-video"><i class="fa fa-icon fa-video-camera"></i> Start video call</a>
                <br/>
                <br/>
                <a href="#" class="js-chat"><i class="fa fa-icon fa-envelope"></i> Send Message</a>
                <br/>
            </div>
        </div>
        <div class="row alert-details-container">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <button type="button" class="btn btn-default acknowledge-alert">Acknowledge</button>
                        </p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <!--<p class="watch-patient-wrapper"></p>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <% if(obj.hasMore) { %>
                <div class="row">
                    <div class="col-sm-6">
                        <i style="display: inline-block;margin-top: 5px;">(+<%- obj.hasMore %> see more)</i>
                    </div>
                    <div class="col-sm-6">
                        <a role="button" class="btn btn-primary pull-right" href="<%- obj.url %>/Patients/PatientDetails/<%- obj.patientInfo.id %>/DetailedData/">See more</a>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</script>
