<script id="patientCardViewTemplateHeader" type="text/template">
    <div class="row severity-field">
        <div class="col-sm-9 alert-types-container">
            <div class="clearfix severity-points"></div>
        </div>
        <div class="col-sm-3 alert-types-type-container">
            <strong class="severity-name"><%- obj.alertType %></strong>
        </div>
    </div>
</script>