<script id="patientCardViewTemplateDetailFooter" type="text/template">
    <div class="patient-alert-detail patient-alert-footer">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-3">
                <!--<a role="button" class="btn btn-primary" href="<%- obj.link %>/Patients/PatientDetails/<%- obj.patientId %>/">Watch Patient</a>-->
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default pull-right acknowledge-all">Acknowledge all</button>
            </div>
        </div>
    </div>
</script>