<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.AzureTableByMonth" />
  </extensions>
  <targets>
    <target name="logs" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target 
        xsi:type="File" 
        layout="${longdate:universalTime=true} ${level} ${logger} ${message} ${onexception:inner=${newline}  ${exception:innerFormat=ToString:maxInnerExceptionLevel=1:innerExceptionSeparator=CLRF:separator=CLRF:format=ToString}${newline}}${identity}" 
        encoding="utf-8" 
        fileName="${basedir}/Logs/${shortdate}.log"  />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logs" />
  </rules>
</nlog>