<script id="answerSetTypeTemplate" type="text/template">
<div class="col-xs-12">
    <div class="list-group">
        <a href="#" class="list-group-item js-add-selection-answer-set">
            <h4 class="list-group-item-heading">Multiple Choice</h4>
            <p class="list-group-item-text">Select one of many available answers.</p>
        </a>
        <a href="#" class="list-group-item js-add-scale-answer-set">
            <h4 class="list-group-item-heading">Scale</h4>
            <p class="list-group-item-text">Select one of a set of values on a sliding scale.</p>
        </a>
        <!--<a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Checklist</h4>
            <p class="list-group-item-text">Select multiple available answers.</p>
        </a>-->
    </div>
</div>
</script>