<script id="mediaLibraryTemplate" type="text/template">
    <div class="row">
        <div class="col-sm-12">
            <div class="well clearfix">
                <div class="row">
                    <div class="col-sm-4">
                        <select id="media-search-type" class="form-control" name="type">
                            <option value="Image">Image</option>
                            <option value="Video">Video</option>
                            <option value="Document">Document</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <select id="media-search-tags" data-placeholder="Search by Tags" data-loading-placeholder="Loading..." class="form-control chosen-select searching-tags" name="name"></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default js-search-clear" type="button">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="media-search-keyword" class="form-control" type="text" placeholder="Type keyword here">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 media-search-result"></div>
    </div>
</script>