<script id="mediaElementFormTemplate" type="text/template">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-media-ci" role="tablist">
        <li role="presentation">
            <a href="#edit-existing-media" aria-controls="library" role="tab" data-toggle="tab">Media Library</a>
        </li>
        <li role="presentation" class="active">
            <a href="#create-new-media" aria-controls="createNew" role="tab" data-toggle="tab">Create New</a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="edit-existing-media">

        </div>
        <div role="tabpanel" class="tab-pane active" id="create-new-media">
            <p>Creating a new file will add it to the Media Library for future use.</p>
            <div id="media-file-container"></div>
        </div>
    </div>
</script>