<script id="openEndedAnswerSetTemplate" type="text/template">
    <div class="panel-heading" role="tab">
        <div class="clearfix">
            <h4 class="panel-title pull-left"><strong><%=name%></strong></h4>
            <div class="pull-right pull-right-panel-heading-ci">
                <a href="#" class="btn btn-primary btn-sm js-select-answer-set" answer-set-id="<%=id%>">Select</a>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-7"></div>
            <div class="col-sm-5 text-right">
                <small>
                    <strong>Default Language:</strong> EN-US
                </small>
            </div>
        </div>
    </div>
</script>