<script type="text/template" id="scaleAnswerSetFormTemplate">
    <form>
        <div class="form-group">
            <label>Language</label>
            <div>EN-US (default)</div>
        </div>
        <div class="form-group">
            <label for="scale-contentName">Name of Content Item</label>
            <input type="text" data-name="name" class="form-control" id="scale-contentName" placeholder="Enter Name Here" value="<%= name %>" />
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <label>Tags <i>(Optional)</i></label>
            <input type="text" id="scale-contentTag" class="form-control creation-tags" data-placeholder="Add Tags" data-loading-placeholder="Loading..." 
                   data-name="tags"
                   value="<%= tags.join(',') %>" />
            <span class="help-block help-block-tags hidden"></span>
        </div>
        <hr />
        <div class="form-group">
            <button class="btn btn-default js-change-answerset-type">
                <span class="glyphicon glyphicon-refresh"></span>
                Change Answer Type
            </button>
        </div>

        <hr />

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="label-small" for="scale-content-left-label">Left Hand Label</label>
                    <input type="text" data-name="lowLabel" class="form-control" id="scale-content-left-label" placeholder="Enter Label Text Here" />
                    <span class="help-block hidden" data-validate-for="scale-content-left-label"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="label-small" for="scale-content-mid-label">Midpoint Label (optional)</label>
                    <input type="text" data-name="midLabel" class="form-control" id="scale-content-mid-label" placeholder="Enter Label Text Here" />
                    <span class="help-block hidden" data-validate-for="scale-content-mid-label"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="label-small" for="scale-content-right-label">Right Hand Label</label>
                    <input type="text" data-name="highLabel" class="form-control" id="scale-content-right-label" placeholder="Enter Label Text Here" />
                    <span class="help-block hidden" data-validate-for="scale-content-right-label"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="scale-content-low-value">Lowest Value</label>
                    <input type="number" step="1" data-name="lowValue" class="form-control" id="scale-content-low-value" />
                    <span class="help-block hidden" data-validate-for="scale-content-low-value"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="scale-content-high-value">Highest Value</label>
                    <input type="number" step="1" data-name="highValue" class="form-control" id="scale-content-high-value" />
                    <span class="help-block hidden" data-validate-for="scale-content-high-value"></span>
                </div>
            </div>
        </div>

        <div class="form-group block-left-width100">
            <div class="alert alert-success js-alert-create-success hidden" role="alert">Answer set added successfully!</div>
            <div class="alert alert-success js-alert-update-success hidden" role="alert">Answer set updated successfully!</div>
            <div class="alert alert-danger hidden" role="alert"></div>
        </div>
    </form>
</script>