<script id="selectionAnswerSetTemplate" type="text/template">
    <div class="panel-heading">
        <div class="clearfix">   
            <h4 class="panel-title pull-left">
                <a class="collapsed panel-toggle"
                    role="button" 
                    data-toggle="collapse" 
                    data-parent="#question-accordion"
                    aria-expanded="true" 
                    href="#collapse-answer_<%=id%>">
                    <small>Multiple Choice:</small>
                    <strong><%=name%></strong>
                </a>
            </h4>
            <div class="pull-right pull-right-panel-heading-ci">                      
                <a href="#" class="btn btn-primary btn-sm js-select-answer-set" answer-set-id="<%=id%>">Select</a>
            </div>
        </div>
    </div>
    <div id="collapse-answer_<%=id%>" class="panel-collapse collapse js-answers" role="tabpanel">
        
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-7">
                <strong>
                    <small>Tags:</small>
                </strong>
                <% _.each(tags, function(tag) { %>
                    <span class="label label-info"><%= tag %></span>
                <% }); %>
            </div>
            <div class="col-sm-5 text-right">
                <small>
                    <strong>Default Language:</strong> EN-US
                </small>
            </div>

        </div>
    </div>
</script>