<script id="notesSearchBoxTemplate" type="text/template">
    <div class="input-group">
        <input id="note-search-field" type="text" class="form-control" />
        <span class="input-group-btn">
            <button id="note-search-button" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    @Html.Partial("~/Areas/Site/Views/Notes/Templates/NotableListTemplate.cshtml")
</script>