<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net451" />
  <package id="LightInject" version="4.0.9" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
</packages>