@model Maestro.Web.Models.Emails.ActivationEmail
To: @Model.To
From: info@careinnovations.com
Subject: Account Activation
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <head />
    <body>
        <table width="580" align="centered" border="0" cellpadding="10" cellspacing="0">
            <tr>
                <td width="560" align="centered">
                    <div style="width: 100%; margin: 0 auto; font-family: sans-serif; font-size: 16px; line-height: 22px;">
                        Dear @Model.UserName,
       
                        <br />
                        <br />
                        You have been invited to set up an account on Health Harmony! Your account will allow you to easily and efficiently manage your remote patients’ care.<br />
                        <br />
                        Please use the activation link below to create your account:<br />
                        <br />
                        @Model.ConfirmationLink<br />
                        <br />
                        You will be asked to set up a password.<br />
                        <br />
                        Sincerely,<br />
                        The Health Harmony Team<br />
                        Intel-GE Care Innovations&#8482;<br />
                        Address: 3721 Douglas Blvd., Suite 100, Roseville, CA 95661
                        <br />
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
